<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498185614117-9r20fm0mq1je43nai0gfa7vcoihvs98s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498185614117-9r20fm0mq1je43nai0gfa7vcoihvs98s</string>
	<key>API_KEY</key>
	<string>AIzaSyCnPILh84wAdkdbsendacB-JoCZt_hmDmg</string>
	<key>GCM_SENDER_ID</key>
	<string>498185614117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deeb.gorany.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-2c8e3</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-2c8e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:498185614117:ios:c6b769c9a50ba02f</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-2c8e3.firebaseio.com</string>
</dict>
</plist>
